---
import DesktopNavigation from "../components/DesktopNavigation.astro";
import { HeaderMenu } from "../components/header-menu";
import Layout from "../layouts/Layout.astro";
import { projects as realProjects, placeholderProjects } from "../data/projects";
import ProjectCard from "../components/ProjectCard.astro";
import {techStack} from "../data/tech-stack";
import DescriptionBadge from "../components/DescriptionBadge.astro";
import ContactForm from "../components/ContactForm.astro";
import {ThemeTogglerBasic} from "../components/theme-toggler-basic";

const projects = [...realProjects, ...placeholderProjects];
---

<Layout title="Eddie Naff Portfolio">
  <header>

    <div class="header-inner-wrap">
    <a href="/">Eddie Naff</a>
    <DesktopNavigation />
    <ThemeTogglerBasic client:load />
    <HeaderMenu client:load />
    </div>
  </header>
	<main>
    <section id="hero">
      <div class="section-inner-wrap">
      <p>Hi My name is</p> <h1>Eddie Naff</h1> <p>I specialize in frontend and backend web development for complex scalable web apps.</p>
    </div>
    </section>
    <section id="projects">

      <div class="section-inner-wrap">
      <p>PROJECTS</p>
      <ul class="card-list">
      {projects.map((project)=>{
        return(<ProjectCard text={project.text} title={project.title} uri={project.uri} />)
      })}
      </ul>
      </div>
    </section>
    <section id="about">

      <div class="section-inner-wrap">
      <p>ABOUT</p>
      <h3>Languages</h3>
      <ul class="about-list">
      {techStack.languages.map((language)=><DescriptionBadge text={language} />)}
      </ul>

      <h3>Tools</h3>
      <ul class="about-list">
        {techStack.tools.map((tool)=><DescriptionBadge text={tool} />)}
      </ul>
      <h3>Frameworks</h3>
      <ul class="about-list">{techStack.frameworks.map((framework)=><DescriptionBadge text={framework} />)}</ul>
      <h3>Standards and Paradigms</h3>
      <ul class="about-list">
        {techStack.standardsAndParadigms.map((para)=><DescriptionBadge text={para} />)}
      </ul>

      <h3>Other Tools</h3>
      <ul class="about-list">
        {techStack.otherTools.map((tool)=><DescriptionBadge text={tool} />)}
      </ul>

      <h3>Design Tools</h3>
      <ul class="about-list">
        {techStack.designTools.map((tool)=><DescriptionBadge text={tool} />)}
      </ul>
      </div>
    </section>
    <section id="contact">

      <div class="section-inner-wrap">
      <p>CONTACT</p>
      <ContactForm />
      </div>
    </section>
  </main>
  <footer>

    <div class="section-inner-wrap">
    <p>Made with ❤️ by Eddie Naff</p>
    </div>
  </footer>
</Layout>

