---
import ContactForm from "../components/ContactForm.astro";
import DefaultLayout from '../layouts/DefaultLayout.astro'
import DarkCard from '../components/DarkCard.astro'
import projects from "../data/projects"
import { techStack } from "../data/tech-stack"
import DescriptionBadge from '../components/DescriptionBadge.astro';
---
<style>
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }
.center-wrap {
  max-width: 48em;
  margin: 0 auto;
}

.quick-border{
  border: 2px dashed limegreen;
}
</style>
<DefaultLayout title="Eddie Naff">
  <section id="intro" class="margin-48">
    <div class="center-wrap">
    <div class="container">
      <h1>Hi, I'm Eddie</h1>
      <p>Web Developer</p>
    </div>
  </div>
  </section>
  <section id="projects" class="padding-48 color-primary">
    
    <div class="center-wrap quick-border">
    <div class="container">
      <h2 class="margin-16 bottom">Projects</h2>
    </div>
    <ul class="container" data-auto-grid="3">
        
      {(projects as any[]).map((project)=>(<li>
        <DarkCard 
        id={project.id} 
        uri={"/projects/" + project.id} 
        title={project.title}
        text={project.text}
         />
        </li>))}
      
    </ul>
    </div>
  </section>
  <section id="about" class="padding-48">

    <div class="center-wrap">
    <div class="container">
    
      <h2 class="margin-16 bottom">About</h2>
      
      <h3 class="margin-16 top">Languages</h3>

    <ul class="flex-container">
      {(techStack.languages).map((language)=>(<li>
        <DescriptionBadge text={language} />
        </li>))}
    </ul>
    <h3 class="margin-16 top">Frameworks</h3>

  <ul class="flex-container">
    {(techStack.frameworks).map((framework)=>(<li>
      <DescriptionBadge text={framework} />
      </li>))}
  </ul>
    
      <h3 class="margin-16 top">Tools</h3>
    <ul class="flex-container">
        
      {(techStack.tools).map((tool)=>(<li>
        <DescriptionBadge text={tool} />
        </li>))}
      
    </ul>

    <h3 class="margin-16 top">Standards and Paradigms</h3>
    <ul class="flex-container">
        
      {(techStack.standardsAndParadigms).map((standard)=>(<li>
        <DescriptionBadge text={standard} />
        </li>))}
      
    </ul>
    <h3 class="margin-16 top">Design Tools</h3>
    <ul class="flex-container">
        
      {(techStack.designTools).map((tool)=>(<li>
        <DescriptionBadge text={tool} />
        </li>))}
      
    </ul>
    
    
    
  </div> 
  </div>
  </section>
  <section id="contact">

    <div class="center-wrap">
    <ContactForm />
    </div>
  </section>
</DefaultLayout>
